
body {
  background: rgb(255,255,255);
  background: linear-gradient(171deg, rgba(255,255,255,1) 26%, rgba(244,244,244,1) 26%, rgba(244,244,244,1) 60%, rgba(255,255,255,1) 60%);
}

li {
  list-style: none;
  text-decoration: none;
}

a:link {
  color: black;
  font-weight: 500;
  font-size: 28px;
}

a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
  text-decoration: none;
}

/* mouse over link */
.header-nav a:hover {
  color: #32d96a;
  text-decoration: none;
}

/* selected link */
a:active {
  color: blue;
}

.header-nav ul li {
  display: inline;
  margin: auto 80px;
}

.logo {
  margin-left: 100px;
  margin-top: 25px;
}

.logo2 {
  color: #32d96a;
}

section:after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 600px) {
  .about-me, .left-panel {
    padding:10px;
    width: 100%;
    height: auto;
  }
}

.work-experience {
  margin-top: 200px;
<<<<<<< HEAD
  margin-bottom: 100px;
=======
  margin-bottom: 125px;
>>>>>>> 8be0211c1befaeb2e8815d96ded03f9806a20edb
  padding-bottom: 30px;
  height:auto;
}

.work-experience h2 {
  color: #32d96a;
}

.work-experience p {
  font-size: 18px;
}

@media (max-width: 600px) {
  .work-experience {
    padding: 0;
    margin:0;
    width: auto;
    height: auto;
  }
}

.roles-played {
  margin: 50px 0 50px 50px;
}

.current-role li {
  color: white;
}

.previous-role li {
  color:white;
}

.resume-link {
  margin-left: 43%;
}

.resume-dl {
  color:white;
}

.resume-link a:hover {
  color: #32d96a;
}

.projects {
  margin-left: 62px;
}

.mywork {
  margin-top: 125px;
  margin-bottom: 80px;
}

.whereto {
  box-shadow: 10px 10px 33px -2px rgba(0,0,0,0.43);
  padding: 20px;
}

.whereto h3{
  color: #32d96a;
}

.whereto img {
  margin: 10px 35px 10px;
}

.whereto a:hover {
  color: #32d96a;
  text-decoration: none;
}

.whereto a:link {
  font-size: 17px;
}

.g2p {
  box-shadow: 10px 10px 33px -2px rgba(0,0,0,0.43);
  padding: 20px;
  margin-top:20px;
}

.g2p a:hover {
  color: #32d96a;
  text-decoration: none;
}

.g2p a:link {
  font-size: 17px;
}

.g2p h3{
  color: #32d96a;
}



.skills {
    font-size: .8rem;
    line-height: 1.5;
    color: #555;
    text-align: center;
}

 .Skills-r2 {
   margin: 40px 0 40px 0;
 }

.contact-me {
  margin-bottom: 50px;
}

.social-links {
  padding-top: 40px;
  padding-bottom: 20px;
}

.social-links li {
  display: inline;
  margin: auto 60px;
}

.social-links a:hover {
  color: #32d96a;
}
