li {
  list-style: none;
}

a:link {
  color: black;
  font-weight: 500;
  font-size: 28px;
}

a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: #32d96a;
}

/* selected link */
a:active {
  color: blue;
}

.header-nav {
  border-bottom: #32d96a;
  border-bottom-style: solid;
  border-width: medium;
}

.header-nav ul li {
  display: inline;
  margin: auto 50px;
}

.logo {
  color:black;
  margin-left: 25px;
  margin-top: 25px;
}

.logo2 {
  color:#32d96a;
  margin-left: 25px;
}

.about-me {
  margin-top:50px;
  float: left;
  padding: 120px;
  width: 70%;
}

.left-panel {
  background-image: url(../images/portfolio-img-sketch.jpeg);
  background-size: ;
  height: 580px;
  float: left;
  width: 27%;
  padding: 10px;
}

section:after {
  content: "";
  display: table;
  clear: both;
}

.work-experience {
  margin-top:0px;
  padding: 30px 0 30px 300px;
  background-color: #081c3b;
  height: 50vh;
}

.work-experience h1 {
  color: white;
}

.work-experience h4 {
  color: #32d96a;
}

.work-experience p {
  color: white;
}

.current-role {
  display: inline;
  float:left;
}

.current-role li {
  color: white;
}

.previous-role {
  float: left;
  margin-top: 0px;
  margin-left: 100px;
}

.previous-role li {
  color:white;
}

.social-links {
  padding: 40px;
}

.social-links li {
  display: inline;
  margin: auto 60px;
}
