a:link {
  color: black;
  font-weight: 500;
  font-size: 28px;
}

a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: #32d96a;
}

/* selected link */
a:active {
  color: blue;
}

.header-nav {
  border-bottom: #32d96a;
  border-bottom-style: solid;
  border-width: medium;
}

.header-nav ul li {
  display: inline;
  margin: auto 50px;
}

.logo {
  color:black;
  margin-left: 25px;
  margin-top: 25px;
}

.logo2 {
  color:#32d96a;
  margin-left: 25px;
}

.section-spacing {
  margin-top:50px;
  float: left;
padding: 120px;
width: 70%;
}

.left-panel {
  background-image: url(../images/portfolio-img-sketch.jpeg);
  background-size: cover;
  height: 1000px;
  float: left;
  width: 27%;
  padding: 10px;
}

.left-panel:after {
  content: "";
display: table;
clear: both;
}

.left-panel {

}
